bin/
obj/
obj.build/
build_*/
package/
release/
_ReSharper.*
*.ReSharper.user
*.resharper.user
*.DotSettings.user
*.csproj.user
*.ncb
*.aps
*.suo
*.sln.cache
*.InstallLog
.backup/
lib/NUnit-2.5.9.10348/net-2.0/addins
