<configuration>
  <configSections>
    <section name="microsoft.visualstudio.testplatform" type="Microsoft.VisualStudio.TestPlatform.CommandLine.Configuration.TestPlatformSection, vstest.console, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
  </configSections>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <probing privatePath="Extensions" />
    </assemblyBinding>
  </runtime>
  <microsoft.visualstudio.testplatform>
    <loggers>
      <add uri="logger://Microsoft/TestPlatform/ConsoleLogger/v1" />
    </loggers>
  </microsoft.visualstudio.testplatform>
  <system.diagnostics>
    <switches>
      <add name="TpTraceLevel" value="0" />
    </switches>
  </system.diagnostics>
  <appSettings>
    <!--Specifies whether the vsix extensions should be used in the test run or not. -->
    <add key="UseVsixExtensions" value ="false"/>
    <!--<add key="ExecutionThreadApartmentState" value ="MTA"/>-->
    <!--<add key="MaxNumberOfEventsLoggerEventQueueCanHold" value ="500"/>-->
    <!--<add key="MaxBytesLoggerEventQueueCanHold" value ="25000000"/>-->
    <!--<add key="EnableBoundsOnLoggerEventQueue" value ="true"/>-->
    <!--<add key="TraceLogMaxFileSizeInKb" value ="10240"/>-->
    
    <!-- MsTest Adapter Specific AppSettings -->
    <add key="TestProjectRetargetTo35Allowed" value="true" />
  </appSettings>
</configuration>