<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup useLegacyV2RuntimeActivationPolicy="true">
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <probing privatePath="Extensions;PrivateAssemblies\DataCollectors;PrivateAssemblies\DataCollectors\x86" />
    </assemblyBinding>
  </runtime>
  <system.diagnostics>
    <switches>
      <add name="TpTraceLevel" value="0" />
    </switches>
  </system.diagnostics>
  <appSettings>
    <!--<add key="TraceLogMaxFileSizeInKb" value ="10240"/>-->
    
    <!-- MsTest Adapter Specific AppSettings -->
    <add key="TestProjectRetargetTo35Allowed" value="true" />    
  </appSettings>
</configuration>